:root {
    /* font*/
    --main-font: 'Roboto', sans-serif;
    --second-font: 'Raleway', sans-serif;
    /* text color*/
    --main-txt-color: #212121;
    /* bg color*/
    --blue-bg-color: #2f303a;
    --grey-bg-color: #f5f4fa;
  
    /* others*/
    --active-button-color: #2196f3;
  
  }