.header__container {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 100%;
    @media screen and (max-width: 480px)
    {  width: 448px;margin-left:auto;margin-right:auto;position: relative; padding-top: 16px; padding-bottom: 16px; };
    
    
    @media screen and (min-width: 481px) and (max-width:1199px)
    {max-width: 100%; } 
    
    
    
    }
  header.no-transparency {
    background-color: white;
  
  }
  
  .header__logo-style--blue {
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #2196f3;
  }
  
  .header__logo-style--black {
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
    @media screen and (min-width:1200px)
    {max-width: 1200px;margin-right: 93px;}
    
    
  }

  .header__border {
    border-bottom: 1px solid #ECECEC;
  }