/**Section props*/
.props-section {
    padding-top: 94px;
   
    &__container{display: flex;
        margin-top: 0;}
        @media screen and (max-width: 480px)
    {width: 480px;display: block;padding-top:30px;margin:0;};
  }

  
 
  
  .props-section__list {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    @media screen and (max-width: 481px)
    {width: 100%;display: block; margin-bottom: 30px;};
  }
  
  .props-section__item-container {
    display: flex;
    justify-content: center;
    background-color: #F5F4FA;
    align-items: center;
    width: 270px;
    height: 120px;
    @media screen and (max-width: 480px)
    {   padding-right:15px; margin-top: 30px; width: 100%; };
    
  }
  
  .props-section{
    &__title{font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;}
    
    &__text{font-size: 14px;
        line-height: calc(24/14);
        letter-spacing: 0.03em;
        color: #757575;
        max-width: 270px;}
        @media screen and (max-width: 480px)
    {width: 100%;display: block; margin: 0;};
  }
  
 .props-section__text{@media screen and (max-width: 480px)
  {display: inline; padding-right: 15px;  width: 100%; margin-bottom: 30px;}}
  
  .props-section__title{ @media screen and (max-width: 480px)
    {  display: flex; justify-content: center;};}
  