.main-window__button {
  background: #2196f3;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  margin-bottom: 200px;
  min-width: 200px;
  min-height: 50px;
  max-height: 50px;
  max-width: 200px;
  max-width: 60px;
  border-radius: 4px;
  padding: 10px, 32px;
  transition: color, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  
  &:hover{background: #188ce8;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

  &:focus{ color: var(--active-button-color);
    transition: color, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
}



.project-section__button {
  font-style: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  background: #f5f4fa;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  min-width: 73px;
  max-width: 145px;
  min-height: 38px;
  max-height: 38px;
  padding-top: 6px;
  padding-right: 22px;
  padding-left: 22px;
  padding-bottom: 6px;
  transition: color, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  &--current{background: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #ffffff;}
}
.project-section__button:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus{background: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #ffffff;}
}
.project-section__button {
  transition: color, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__btm {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: white;
  margin-left: 12px;
  border-color: transparent;
  letter-spacing: 0.06em;
  cursor: pointer;
  @media screen and (min-width: 480px)
  { margin-top:20px;margin-left:0;}

  &:hover{background: #188ce8;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
}


.modal__btm {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  padding: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 

  &:hover{ fill: var(--active-button-color);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
}


