.contact-styles__link--mail {
    margin-right: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 0;
    margin-left: 0;
    padding-left: 0;
    @media screen and (min-width: 0) and (max-width:767px)
    {width: 480px;display: none; padding-top: 0;
      padding-bottom: 0;padding: 0;}
      
      @media screen and (min-width: 768px) and (max-width:1199px)
      {max-width: 720px;  display: block; margin-bottom: 10px; padding-bottom: 0; }
  
  }
  
 
  
  
  .contact-styles{
    display: flex;
    gap: 30px;
    margin-left: auto;
    margin-right: 0;
    padding: 0;
    @media screen and (max-width: 767px) 
    {width: 720px;  display: none;  }
   
    @media screen and (min-width: 768px) and (max-width:1199px)
    {max-width: 720px; display: none; display: table; margin-bottom: 21px; margin-top:21px; padding: 0;} 
   

    &__icon{fill: currentColor;
        margin-right: 3px;}
    
    }
  
  
  
  .contact-styles__link {
    font-style: normal;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #757575;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 0;
    transition: color, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 0) and (max-width:767px)
    {display: none;}
    
    
    @media screen and (min-width: 768px) and (max-width:1199px)
    { max-width: 720px; padding:0;  display: inline-block; }

   

    &:hover{ color: var(--active-button-color);
        transition: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
    &:focus{color: var(--active-button-color);
        transition: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
  }
  

    
  