.project-section {
  padding-top: 85px;
  padding-bottom: 103px;

  &__list {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin: 0;
    padding-left: 0;
    @media screen and (min-width: 480px)
    {max-width: 448px; flex-wrap: wrap; justify-content: left;} 
  }
}

.project-section {
  &__image-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: 50px;
    margin-bottom: 0;
    @media screen and (min-width: 480px)
    {max-width: 448px;}
  }

  &__portfolio-item {
    position: relative;
    overflow: hidden;
  }
}

.project-section__image-shadow {
  transition: color, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    transition: 250ms;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .project-section__name-container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-top: transparent;
    background-color: white;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
  }

  .project-section__position-name {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: #212121;
  }

  .project-section__position-type {
    font-style: normal;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: #757575;
  }
}
