.header__logo-style {
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #2196f3;

    &--black{font-family: var(--second-font);
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #000000;
       
        @media screen and (max-width: 481px)
        { margin-right: auto;padding-top: 16px; padding-bottom: 16px;}}
  }
  

  .footer__logo-style {
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #2196f3;

    &--white{font-family: var(--second-font);
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31 / 26);
        letter-spacing: 0.03em;
        color: white;}
  }
  
 